h1{
    color:blue;
    font-size:xx-large;
    background-color: aquamarine;
}

button{
    color: darkmagenta;
    background-color: bisque;
}

p{
    font-weight:inherit;
    text-align: justify;
}